.login__form__item {
  .el-form-item__content {
    margin-left: 0 !important;
  }
}
.el__tab {
  .el-tabs {
    height: 100% !important;
  }
}
/* 左边 */
.nav-left{
	width: 200px;
	height: 100%;
	position: fixed;
	left: 0px;
	z-index: 110;
	overflow: hidden;
}
.admin-logo{width: 40px; height: 40px; border-radius: 50%; vertical-align: middle; margin: 0.5em; margin-left: 1em;}
/* 菜单折叠时候样式调整 */
.fold .nav-left{width: 64px;}
.fold .admin-logo{width: 40px; height: 40px; margin-left: 0.8em;}
.fold .nav-right{width: calc(100% - 64px); left: 64px; }

/* 菜单折叠时 部分元素隐藏 */
.fold .nav-title,
.fold .menu-name,
.fold .el-submenu__icon-arrow
{display: none;}

/* 折叠时悬浮菜单样式，防止透明 */
.el-menu--vertical .el-menu--popup{background-color: #FFF !important; color: red !important;}
/* 左下 */
.nav-left-bottom{
	width: 100%;
	height: calc(100% - 80px);
	overflow: hidden;
}
.nav-left-bottom i[class^=el-icon-]{font-size: 16px;}
/* 1 2 配合，把滚动条隐藏 */
.menu-box-1{width: 220px; height: 100%; overflow-y: auto;}
.menu-box-2{width: 201px;}
/* -------- 右边 --------- */
.nav-right{
	width: calc(100% - 200px);
	height: 100%;
	position: fixed;
	left: 200px; 
}
.sa-wnk{background-color: #FFF; display:flex; min-height: 35px; 
	cursor: pointer; transition: all 0.3s; overflow: hidden;}
//搜索框
.c-item {
	background-color: #FFF; display:flex; min-height: 35px; 
	cursor: pointer; transition: all 0.3s; overflow: hidden;text-align: right;
  }
  .box-item{
	min-width: 230px;
	min-height: 32px;
	line-height: 32px;
	padding-right: 10px;
	display: inline-block;
	margin: 0.5em 0;
	display:flex
  }
//   跟单管理的show-overflow-tooltip宽度
  .el-tooltip__popper {
    max-width: 300px;
    line-height: 180%;
  }
  .vue-box{
	font-size: 14px;
	line-height: 35px;
  }
